html {
    font-family: sans-serif;
    background-color: #17242c;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .video-container {
        position: relative;
        width: 960px;
        height: auto;
        background-color: transparent;

        .controls-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            bottom: 0;
            z-index: 2147483647;
            width: 100%;



            .subtitles {
                margin-top: 10px;
                padding: 0 10px;
                text-align: center;
                font-size: 2em;
                color: white;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

#video {
    width: 100%;
}

#translation {
    background-color: rgba(0, 0, 96, 0.6);
}

$video-control-size: 24px;

#video-controls {
    display: flex;
    padding: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: $video-control-size + 40px;

    button {
        height: $video-control-size;
        width: $video-control-size;
        border: none;
        padding: 0;
        margin: 0 10px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: all .1s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

#playpause {
    &[data-state="play"] {
        background-image: url("/img/icons/play.png");
    }

    &[data-state="pause"] {
        background-image: url("/img/icons/pause.png");
    }
}

#fs {
    margin-left: auto !important;

    &[data-state="go"] {
        background-image: url("/img/icons/fs_go.png");
    }

    &[data-state="exit"] {
        background-image: url("/img/icons/fs_exit.png");
    }
}

#minusten {
    background-image: url("/img/icons/ten_b.png");
}

#plusten {
    background-image: url("/img/icons/ten_f.png");
}

#curtime {
    margin: 0 10px;
    display: inline-block;
    color: white;
    font-size: 16px;
    height: $video-control-size;
    line-height: $video-control-size;
}