html {
  font-family: sans-serif;
  background-color: #17242c;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-container .video-container {
  position: relative;
  width: 960px;
  height: auto;
  background-color: transparent;
}
.flex-container .video-container .controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 2147483647;
  width: 100%;
}
.flex-container .video-container .controls-container .subtitles {
  margin-top: 10px;
  padding: 0 10px;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#video {
  width: 100%;
}

#translation {
  background-color: rgba(0, 0, 96, 0.6);
}

#video-controls {
  display: flex;
  padding: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 64px;
}
#video-controls button {
  height: 24px;
  width: 24px;
  border: none;
  padding: 0;
  margin: 0 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#video-controls button:hover {
  transform: scale(1.2);
}

#playpause[data-state=play] {
  background-image: url("/img/icons/play.png");
}
#playpause[data-state=pause] {
  background-image: url("/img/icons/pause.png");
}

#fs {
  margin-left: auto !important;
}
#fs[data-state=go] {
  background-image: url("/img/icons/fs_go.png");
}
#fs[data-state=exit] {
  background-image: url("/img/icons/fs_exit.png");
}

#minusten {
  background-image: url("/img/icons/ten_b.png");
}

#plusten {
  background-image: url("/img/icons/ten_f.png");
}

#curtime {
  margin: 0 10px;
  display: inline-block;
  color: white;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
}